// variables
$grey: #919191;

$Grass: #3b9b26;
$Poison: #8f3fc8 ;
$Fire: #fc7c23;
$Water: #4592c4;
$Flying: #3dc7ef;
$Normal: #a4acaf;
$Electric: #eed535;
$Ground: #ab9842;
$Bug: #729f3f;
$Fairy: #fdb9e9;
$Fighting: #d56723;
$Psychic: #f366b9;
$Steel: #9eb7b8;
$Ice: #51c4e7;
$Ghost: #7b62a3;
$Dragon: #f16e57;
$Dark: #707070;
$Rock: #a38c21;