@import './colors';

// reset 


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/body_bg.png);
    background-color: white;
    font-family: 'Roboto Flex Variable', sans-serif;
    
    
}

.bgGrass {
    background: linear-gradient(to right, darken($Grass, 19%), $Grass);
}

.bgPoison {
    background: linear-gradient(to right, darken($Poison, 19%), $Poison);
}

.bgFire {
    background-color: $Fire;
}

.bgFlying {
    background-color: $Flying;
}

.bgWater {
    background-color: $Water;
}

.bgNormal {
    background-color: $Normal;
}

.bgElectric {
    background-color: $Electric;
}

.bgGround {
    background-color: $Ground;
}

.bgBug {
    background-color: $Bug;
}

.bgFairy {
    background-color: $Fairy;
}

.bgFighting {
    background-color: $Fighting;
}

.bgPsychic {
    background-color: $Psychic;
}

.bgSteel {
    background-color: $Steel;
}

.bgIce {
    background-color: $Ice;
}


