@import '/src/assets/style/colors';


// reset 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/body_bg.png);
    background-color: white;
    font-family: 'Roboto Flex Variable', sans-serif;
    
    
}

